# generic service template definition

define service{
        name                            generic-service ; The 'name' of this service template
        active_checks_enabled           1       ; Active service checks are enabled
        passive_checks_enabled          1       ; Passive service checks are enabled/accepted
        parallelize_check               1       ; Active service checks should be parallelized (disabling this can lead to major performance problems)
        obsess_over_service             1       ; We should obsess over this service (if necessary)
        check_freshness                 0       ; Default is to NOT check service 'freshness'
        notifications_enabled           1       ; Service notifications are enabled
        event_handler_enabled           1       ; Service event handler is enabled
        flap_detection_enabled          1       ; Flap detection is enabled
        failure_prediction_enabled      1       ; Failure prediction is enabled
        process_perf_data               1       ; Process performance data
        retain_status_information       1       ; Retain status information across program restarts
        retain_nonstatus_information    1       ; Retain non-status information across program restarts
        notification_interval           0               ; Only send notifications on status change by default.
        is_volatile                     0
        check_period                    24x7
        normal_check_interval           5
        retry_check_interval            1
        max_check_attempts              4
        notification_period             24x7
        notification_options            w,u,c,r
        contact_groups                  admins
        register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
        }

define service {
        use                             generic-service
        hostgroup_name                  all
        service_description             PING
        check_command                   check_ping!5000.0,95%!10000.0,96%
}

# check that ssh services are running
define service {
        use                             generic-service
        hostgroup_name                  all
        service_description             SSH
        check_command                   check_ssh
}


#Check if status code is 200 or 301/302
define service {
        use                             generic-service
        hostgroup_name                  http-servers
        service_description             HTTP                                                                                                                   
                                        ;          !HOST header!warning_timeout!critical_timeout
        check_command                   check_http2!mongu.ru!30!60
}

#simple TCP port connect check example
define service {
        use                             generic-service
        hostgroup_name          all
        host_name               !monguru-localhost
        service_description             Rsync Daemon
        check_command                   check_tcp!873
}

define service{
        use                             generic-service         ; Name of service template to use
        hostgroup_name                  example-servers
        ##host_name                       localhost
        ##host_name                       !localhost ; you can include/exclude hostnames from other groups or example-servers
        service_description             MEM
                                                         ;!username!password!wanrning_memory,warning_swap!,critical_memory,critical_swap
        check_command                   check_snmp_mem_v3!9d0a5871!f705b48029e08d3db5343505f5e7d499!60%,30%!90%,50%
        }

define service{
        use                             generic-service         ; Name of service template to use
        hostgroup_name                  example-servers
        ###host_name                       localhost
        ##host_name                       !localhost ; you can include/exclude hostnames from other groups or example-servers
        service_description             LOAD
                                                          ;!username!password!warning_load(1min,5min,15min)!critical_local(1min,5min,15min)
        check_command                   check_snmp_load_v3!9d0a5871!f705b48029e08d3db5343505f5e7d499!1.0,2.0,3.0!2.0,3.0,4.0
        }

define service{
        use                             generic-service         ; Name of service template to use
        hostgroup_name                  example-servers
        ##hostgroup_name                  example-servers, 
        ###host_name                       localhost
        ##host_name                       !localhost ; you can include/exclude hostnames from other groups or example-servers
        service_description             DISK
                                                             ;!username!password!regex_mountpoint!warning_level!critical_level
        check_command                   check_snmp_storage_v3!9d0a5871!f705b48029e08d3db5343505f5e7d499!/$!80%!90%
        }

define service {
        use                             generic-service         ; Name of service template to use
        hostgroup_name                  example-servers
        ##hostgroup_name                  example-servers, 
        ###host_name                       localhost
        ##host_name                       !localhost ; you can include/exclude hostnames from other groups or example-servers
        service_description             UPTIME
                                                             ;!username!password!regex_mountpoint!warning_level!critical_level
        check_command                   check_snmp_uptime_v3!9d0a5871!f705b48029e08d3db5343505f5e7d499
        }

define service {
    use generic-service
        hostgroup_name example-servers
        service_description CPU
        check_command check_snmp_cpu_v3!9d0a5871!f705b48029e08d3db5343505f5e7d499!90%!99%
}
define service {
    use generic-service
        hostgroup_name example-servers
        service_description CRON PROC
        check_command check_snmp_process_v3!9d0a5871!f705b48029e08d3db5343505f5e7d499!cron!!
}
define service {
    use generic-service
        hostgroup_name example-servers
        service_description SSH PROC
        check_command check_snmp_process_v3!9d0a5871!f705b48029e08d3db5343505f5e7d499!sshd!0,4!0,10
}
